---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="banner flex-box">
    <div class="banner-content">
      <h1>F O L L O W  Y O U R  D R E A M S</h1>
      <h3>at</h3>
      <%= image_tag "logo.png", width: "200" %>
    </div>
  </div>
  <div class="home-content">
    <p>
      Powered by Middleman
    </p>
    <p class="about">
      <%= link_to "About", "about.html", class: "btn-mine" %>
    </p>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag "https://i.imgur.com/i7QDXTU.jpg", class: "img-circle", style: "width: 150px; height: 150px" %>
          <h3>I don't know what to write</h3>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag "https://i.imgur.com/i7QDXTU.jpg", class: "img-circle", style: "width: 150px; height: 150px" %>
          <h3>I don't know what to write</h3>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag "https://i.imgur.com/i7QDXTU.jpg", class: "img-circle", style: "width: 150px; height: 150px" %>
          <h3>I don't know what to write</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag "https://i.imgur.com/i7QDXTU.jpg", class: "img-circle", style: "width: 150px; height: 150px" %>
          <h3>I don't know what to write</h3>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag "https://i.imgur.com/i7QDXTU.jpg", class: "img-circle", style: "width: 150px; height: 150px" %>
          <h3>I don't know what to write</h3>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag "https://i.imgur.com/i7QDXTU.jpg", class: "img-circle", style: "width: 150px; height: 150px" %>
          <h3>I don't know what to write</h3>
        </div>
      </div>
    </div>
  </div>
</div>


